<script src="jquery.validate.min.js">
  
</script>
<h2>Sign Up</h2>
<b>It's free and always will be</b><br/>

<div id="sign_up_form" align="center">
  
<hr color=black size="2"/>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
<h3>Oops! Form Is Invalid</h3>

<ul>
<% for message in @user.errors.full_messages %>
<li> <%= message %></li>
<% end %>
</ul>
</div>
<% end %>

<p>
<i>
<%= f.label :email %><br/>
<%= f.text_field :email %>
</p>

<p>
<%= f.label :password %><br/>
<%= f.password_field :password %>
</p>

<p>
<%= f.label :password_confirmation, 'Confirm Password'%><br/>
<%= f.password_field :password_confirmation %>
</p>

<p class ="button"> <%= f.submit "Submit"%></p>
<% end %>

</div>

    
</div>